{# Rendered as a direct child of <body> so fixed stacking clears the site header (z-10 wrapper). #}
{% set t = home.testimonials if home and home.testimonials else {} %}
{% set items = t.items if t.items else [] %}
{% if items and items.length %}
<div
  id="testimonial-read-modal"
  class="testimonial-modal"
  role="dialog"
  aria-modal="true"
  aria-hidden="true"
  aria-labelledby="testimonial-modal-name"
  aria-describedby="testimonial-modal-quote"
  hidden
>
  <div class="testimonial-modal__backdrop" data-testimonial-close></div>
  <div class="testimonial-modal__panel" role="document" tabindex="-1">
    <button
      type="button"
      class="testimonial-modal__close"
      data-testimonial-close
      aria-label="Затвори"
    >
      &times;
    </button>
    <h3 id="testimonial-modal-name" class="testimonial-modal__name"></h3>
    <p id="testimonial-modal-quote" class="testimonial-modal__quote"></p>
  </div>
</div>
{% endif %}
