---
layout: base.njk
title: Home
---

<main>
  {% include "sections/home-hero.njk" %}
  {% include "sections/home-microblading.njk" %}
  {% include "sections/home-lamination.njk" %}
  {% include "sections/home-about.njk" %}
</main>

