---
permalink: /robots.txt
layout: false
eleventyExcludeFromCollections: true
---
# valyamatovska.bg — Валя Матовска · микроблейдинг и ламиниране
# https://www.robotstxt.org/robotstxt.html

User-agent: *
Allow: {{ '/' | url }}

Sitemap: {{ site.seo.siteUrl }}{{ '/sitemap.xml' | url }}
